.row {
  max-width: $flex-width;
  // background-color: gray;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  // color: white;

  @include respond(tab-port) {
    flex-wrap: wrap;
    max-width: 85%;
  }
  @include respond(phone) {
    flex-direction: column;
    max-width: 70%;
  }
  
  //puts the gutter on everything except the last child
  &:not(:last-child) {
    margin-left: $gutter-vertical;
    
    @include respond(tab-port) {
      margin-left: $gutter-vertical-small;
    }
  }

  .col-1-of-2 {
    width: 50%;
    margin-left: 2rem;
    // border: 2px solid red;
    @include respond(tab-port) {
      width: 75%;
      margin-bottom: 2rem;
      margin-left: 0;
    }
    @include respond(phone) {
      width: 100%;
      margin-bottom: 2rem;
      margin-left: 0;
    }

  }
  .col-1-of-4 {
    width: 25%;
    margin-left: 2rem;
    // border: 2px solid red;
    @include respond(tab-port) {
      width: 100%;
      margin-bottom: 2rem;
      margin-left: 0;
    }

  }

  &._column {
    display: flex;
    flex-direction: column;
  }

  &__bottom {
    @include respond(tab-port) {
      margin-bottom: 2rem;
    }
  }


}