.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 4em;
  background-color: white;
  position: fixed;
  z-index: 1;
  align-items: center;
  top: 0;

  &_logo {
    width: 50%;
    margin-left: 2rem;
    
  }

  &_link-container {
    width: 40%;
    margin-right: 5rem;
    // margin-top: .5rem;
    
  } 
  
  &_navlinks {
    display: flex;
    justify-content: space-between;
    list-style-type: none;

    
    & li {
      text-decoration: none;


      &:not(:last-child) {
        margin-top: .7rem;
        font-size: 1.6rem;
      }

        &:hover {
          color: $color-secondary-dark;
          cursor: pointer;
        }
    }
  }
}