@import '../abstracts/variables';

.btn {
  
  &:visited, &:link {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    border-radius: 10rem;
    transform: all .2s;
    position: relative;
    font-size: $default-font-size;
  }
  
  &:hover {
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 2rem rgba($color-black,.2);
  }
  &:active {
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba($color-black,.2);
  }
  &--white {
    background-color: white;
    color: #777;
    padding: 1.5rem 4rem;
  
  }
  &::after {
    /* pseuedo element always need content */
    content: '';
    display: inline-block;
    /* always a child of the parent */
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
  }

  &--white::after {
    background-color: #fff;
  }

  &:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }

}

.btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    color: $light-blue;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $light-blue;
    padding: 3px;
    transition: all .2s;

  }

  &:hover {
    Background-color: $light-blue;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, .15);
    transform: translateY(-2px);
    border-radius: 5px;
    padding: .25rem .35rem;
    
  }

  &:active {
    box-shadow: 0 .5rem 1rem rgba($color-black, .15);
    transform: translateY(-1px);

  }
}