.blog-header {
  height: 40vh;
  background-image: linear-gradient(
    to right bottom,
    rgba($light-blue, 0.699),
    rgba($dark-blue, 0.801)),
  url(../../../assets/food-truck-city.jpg);
background-size: cover;
background-position: bottom;
position: relative;
clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);

&__text-box {
  position: absolute;
  width: fit-content;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
}

.blog-container {
  max-width: 960px;
  margin: 0 auto;
}

.blog-img{
  width: 50%;
}

.blog-link {
      color: $dark-blue;
      text-decoration: none;
      // text-transform: uppercase;
      display: inline-block;
    
    &:hover,
    &:active {
      color: $dark-blue;
      box-shadow: 0 1rem 2rem rbga($color-black, .4);
    }
  }
  
  .blog-body {
    color: $color-grey-dark;

}

.blog-post_container {
  width: 75%;
  margin: 4rem;
}