



.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(27, 188, 156, 0.699),
      rgba(34, 119, 119, 0.801)),
    url(../../assets/img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  
}

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo {
  height: 35px;
}

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.primary-heading {
  color: #fff;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  margin: 45px;
}

.primary-heading-main {
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 35px;
}

.primary-heading-sub {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 20px;

}

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  border-radius: 100px;
  transform: all .2s;
  position: relative;
  

}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0,0,0,.2);
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.btn-white {
  background-color: white;
  color: #777;
  padding: 15px 40px;

}

.btn::after {
  /* pseuedo element always need content */
  content: '';
  display: inline-block;
  /* always a child of the parent */
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}