 .u-center-text {
   text-align: center;
 }

 .u-margin-bottom-big {
   margin-bottom: 8rem;
   
   @include respond(phone) {
     margin-bottom: 6rem;
     
  }
 }
 .u-margin-bottom-med {
   margin-bottom: 4rem;
 }
 .u-margin-bottom-small {
   margin-bottom: 2rem;
 }

 .my1 {
   margin: 1rem 0;
 }
 .my2 {
   margin: 2rem 0;
 }
 .my3 {
   margin: 3rem 0;
 }

 .hide-mob {
  @include respond(tab-port) {
    display: none;
  }
 }